.dashboard {
    display: flex;
    flex-direction: column;
    width: var(--w);
    gap: min(5vw, 5vh);
    margin: 0 auto;
}

.rgbSection {
    display: grid;
    height: var(--w);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    transform: rotate(-90deg);
}

.wSection {
    display: flex;
    width: 100%;
}

.bSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: min(3vw, 3vh);
    padding-left: 8vw;
    padding-right: 8vw;
}
