:root {
    --thumb-width: 2rem;
    --thumb-height: 2.85rem;
    --thumb-border-radius: 5%;
    --thumb-shadow-color: #1a1a1a;
    --thumb-image: url('/sliderThumbVertical.svg');
    --transparent: #00000000;
}

.sliderVertical {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sliderVertical input {
    width: var(--w);
}

.sliderHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sliderHorizontal input {
    width: calc(var(--w) - var(--w-label) - var(--label-gap));
    margin: 0;
}

.sliderLabel {
    font-weight: 800;
}

.sliderLabelHorizontal {
    width: var(--w-label);

}

.sliderLabelVertical {
    transform: rotate(90deg);
}

.sliderWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--label-gap);
}

.sliderBar {
    appearance: none;
    -webkit-appearance: none;
    height: 1rem;
    border-radius: var(--thumb-height);
    outline: none;
}

.vertical::-webkit-slider-thumb {
    box-shadow: -3px 0 5px 1px var(--thumb-shadow-color) !important;
}

.sliderBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px 1px var(--thumb-shadow-color);
    background: var(--transparent);
    /*if not set image background color is displayed*/
    background-image: var(--thumb-image);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sliderBar::-moz-range-thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px 1px var(--thumb-shadow-color);
    background: var(--transparent);
    /*if not set image background color is displayed*/
    background-image: var(--thumb-image);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}